<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>



        <!-- HEADER AND Paragraph COUNT -->
        <div class="jumbotron text-center">
            <h3>Number of Images in storage: <span class="label label-info">{{ images.length }}</span></h3>
        </div>


<div id="style-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center" ng-controller="ImageController">
                <h1>New Image</h1>
                <form class="form-group" ng-submit="submit()">
                    <div>
                        <label for="">name</label>
                        <input type="text" ng-model="image.name">
                    </div>
                    <div>
                            <label for="">image</label>
                            <input type="file" id="file">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" >Add Image</button>
                </form>
        </div>
 </div>

				<!-- PRODUCT LIST -->
				<div id="style-list" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
							<table class="table">
								<tr>
									<th>Title Name</th>
									<th>Img</th>
								</tr>
								<tr ng-repeat="image in images">
									<td>{{ image.name }}</td>                      
									<td><img ng-src="data:image/JPEG;base64,{{image.image}}"></td>
									<td>
										<input type="button" value="Delete Product" class="btn btn-primary btn-lg" ng-click="deleteImage(image._id)"/>
									</td>
								</tr>
							</table>
					</div>
				</div>
   