<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>


	
					<!-- HEADER AND paragraph COUNT -->
					<div class="jumbotron text-center">
						<h3>Number of paragraphs added:  <span class="label label-info">{{ paragraphs.length }}</span></h3>
					</div>


								<!-- FORM TO CREATE paragraph -->
				<div id="style-form" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<form>
							<div class="form-group">

								<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
								<input type="text" class="form-control input-lg text-center" placeholder="content" ng-model="formParagraphData.content">
								<input type="text" class="form-control input-lg text-center" placeholder="title" ng-model="formParagraphData.title">

							</div>

							<!-- createparagraph() WILL CREATE NEW product -->
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createParagraph()">Add Paragraph</button>
						</form>
					</div>
				</div>


					<!-- paragraph LIST -->
					<div id="style-list" class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<!-- LOOP OVER THE paragraphs IN $scope.paragraphs -->											
							<table class="table">
								<tr>
									<th>Content</th>
									<th>Title</th>
								</tr>
								<tr ng-repeat="paragraph in paragraphs">
									<td>{{ paragraph.content }}</td>
									<td>{{ paragraph.title }}</td>
									<td>
										<input type="button" value="Delete Paragraph" class="btn btn-primary btn-lg" ng-click="deleteParagraph(paragraph._id)"/>
									</td>
								</tr>
							</table>
						</div>
					</div>


			

	
