<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>



        <!-- HEADER AND PRODUCT COUNT -->
        <div class="jumbotron text-center">
            <h3>Number of Products added: <span class="label label-info">{{ productimgs.length }}</span></h3>
        </div>



				<div id="style-form" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<form>
							<div class="form-group">

								<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
								<input type="text" class="form-control input-lg text-center" placeholder="Product name" ng-model="productimg.productname">
								<input type="text" class="form-control input-lg text-center" placeholder="Category name " ng-model="productimg.categoryname">
								<input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="productimg.description">
								<input type="text" class="form-control input-lg text-center" placeholder="Nutrional Values" ng-model="productimg.nutrionalvalues">
								<input type="text" class="form-control input-lg text-center" placeholder="Ingredients" ng-model="productimg.ingredients">
                                <label>Image</label><input type="file" id="file">
							</div>

							<!-- createproduct() WILL CREATE NEW product -->
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createProductImg()">Add Product</button>
						</form>
					</div>
				</div>
	

				<!-- PRODUCT LIST -->
				<div id="style-list" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
							<table class="table">
								<tr>
									<th>Product name</th>
									<th>Description</th>
									<th>Ingredients</th>
                                    <th>Nutrional Values</th>
									<th>Category name</th>
									<th>Image </th>
								</tr>
								<tr ng-repeat="productimg in productimgs">
									<td>{{ productimg.productname }}</td>
									<td>{{ productimg.description }}</td>                        
									<td>{{ productimg.ingredients }}</td>
									<td>{{ productimg.nutrionalvalues }}</td>
									<td>{{ productimg.categoryname }}</td>                   
									<td><img ng-src="{{productimg.image.data}}"></td>
									<td>
										<input type="button" value="Delete Product" class="btn btn-primary btn-lg" ng-click="deleteProductImg(productimg._id)"/>
									</td>
								</tr>
							</table>
					</div>
				</div>
   