<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>




				<!-- HEADER AND PRODUCT COUNT -->
				<div class="jumbotron text-center">
					<h3>Number of Products added: <span class="label label-info">{{ products.length }}</span></h3>
				</div>

				<!-- FORM TO CREATE Products -->
				<div id="style-form" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<form>
							<div class="form-group">

								<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
								<input type="text" class="form-control input-lg text-center" placeholder="Product Name" ng-model="formData.productname">
								<input type="text" class="form-control input-lg text-center" placeholder="Category Name" ng-model="formData.categoryname">
								<input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.description">
								<input type="text" class="form-control input-lg text-center" placeholder="Nutritional Values" ng-model="formData.nutritionalvalues">
								<input type="text" class="form-control input-lg text-center" placeholder="Ingredients" ng-model="formData.ingredients">
								<input type="text" class="form-control input-lg text-center" placeholder="Path to Image" ng-model="formData.imagepath">
						
							</div>

							<!-- createproduct() WILL CREATE NEW product -->
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createProduct()">Add Product</button>
						</form>
					</div>
				</div>

				<!-- PRODUCT LIST -->
				<div id="style-list" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
							<table class="table">
								<tr>
									<th>Product Name</th>
									<th>Category Name</th>
									<th>Description</th>
									<th>Nutritional Values</th>
									<th>Ingredients</th>
									<th>Image Path</th>
								</tr>
								<tr ng-repeat="product in products">
									<td>{{ product.productname }}</td>
									<td>{{ product.categoryname }}</td>
									<td>{{ product.description }}</td>
									<td>{{ product.nutritionalvalues }}</td>
									<td>{{ product.ingredients }}</td>
									<td>{{ product.imagepath }}</td>
									<td>
										<input type="button" value="Delete Product" class="btn btn-primary btn-lg" ng-click="deleteProduct(product._id)"/>
									</td>
								</tr>
							</table>
					</div>
				</div>

				
		
