<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>


        <!-- HEADER AND Paragraph COUNT -->
        <div class="jumbotron text-center">
            <h3>Number of Paragraphs with Img added: <span class="label label-info">{{ paragraphimgs.length }}</span></h3>
        </div>



				<div id="style-form" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<form>
							<div class="form-group">

								<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
								<input type="text" class="form-control input-lg text-center" placeholder="Paragraph title" ng-model="paragraphimg.title">
								<input type="text" class="form-control input-lg text-center" placeholder="Content" ng-model="paragraphimg.content">
                                <label>Image</label><input type="file" id="file">
							</div>

							<!-- createproduct() WILL CREATE NEW product -->
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createParagraphImg()">Add Paragraph</button>
						</form>
					</div>
				</div>
	

				<!-- Paragraph LIST -->
				<div id="style-list" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
							<table class="table">
								<tr>
									<th>Paragraph Title</th>
									<th>Content</th>
									<th>Image</th>
								</tr>
								<tr ng-repeat="paragraphimg in paragraphimgs">
									<td>{{ paragraphimg.title }}</td>
									<td>{{ paragraphimg.content }}</td>                    
									<td><img ng-src="data:image/JPEG;base64,{{paragraphimgs.image.data}}"></td>
									<td>
										<input type="button" value="Delete Paragraph" class="btn btn-primary btn-lg" ng-click="deleteParagraphImg(paragraphimg._id)"/>
									</td>
								</tr>
							</table>
					</div>
				</div>
   