<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>





		<div id="style-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1><span>Create User</span> </h1>
				<div growl></div>
				<!-- LOGIN FORM -->
				<form>
					<div class="form-group">
					
						<input type="text" class="form-control input-lg text-center" placeholder="username" ng-model="formUserData.username">
					
						<input type="password" class="form-control input-lg text-center" placeholder="password" ng-model="formUserData.password">
					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Add User</button>
				</form>
				<hr>
			</div>
		</div>
