
						<!-- FORM TO CREATE Products -->
				<div id="style-form" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1><span>Administration Web Tool</span> </h1>
						<form>
							<div class="form-group">
								<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
								<input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="formLoginData.username">
								<input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="formLoginData.password">
						
							</div>

							<!-- createproduct() WILL CREATE NEW product -->
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createLogin()">Login</button>
						</form>
					</div>
				</div>