<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>




		<div id="style-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<div class="well">
						<h3><span class="fa fa-user"></span> Logged in as : {{user.username }} </h3>
				<p>
					Welcome to the Admin Interface
				</p>		
				</div>
			</div>	
		</div>
