<div class="page-header text-center">
	<h1><span>Administration Web Tool</span></h1>
	<a href="/profile" class="btn btn-default btn-sm"><span>Profile</span> </a>
    <a href="/adduser" class="btn btn-default btn-sm"><span> Add User</span></a>
	<a href="/addproduct" class="btn btn-default btn-sm"><span> Add Product</span></a>
	<a href="/addparagraph" class="btn btn-default btn-sm"><span>Add History Text</span> </a>
	<a href="/addimage" class="btn btn-default btn-sm"><span> Add Image</span></a>
	<a href="/readme" class="btn btn-default btn-sm"><span>Documentation</span>  </a>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>




		<!-- FORM TO CREATE Products -->
		<div id="style-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<div class="well">
								
							<h2>			# Read Me # 	</h2>

				</div>

				<div class="well">

							<p>				### A quick guide to requesting data as a client ###

							</p><p>				**Examples of different endpoints**

							</p><p>				* To get all products /api/products
								</p><p>				```
							</p><p>				* To get a product /api/products?name=nameOfProduct
								</p><p>				```

							</p><p>				* To get all paragraphs /api/paragraphs
								</p><p>				```
							</p><p>				* To get a paragraphs /api/paragraphs?title=titleOfParagraph
								</p><p>				```

							</p><p>				* To get all images /api/images
								</p><p>				```
							</p><p>				* To get a images /api/images?name=nameOfImage
								</p><p>				```

							</p><p>				* To get posts from facebook /api/fbposts
								</p><p>				```
							</p><p>				* To get posts from facebook with a limit(default is 25) /api/fbposts?limit=X</p>
							</p><p>				```
				</div>

			</div>	
		</div>
